# 依赖
node_modules/

# VitePress 工作目录（缓存、临时、构建产物）
docs/.vitepress/cache/
docs/.vitepress/dist/
docs/.vitepress/temp/
docs/.vitepress/.vitepress/

# docs/.vitepress/json/
docs/public/json/xls.zip
# docs/public/json/say_xls.json

docs/public/images/icon/map/

# 编辑器/系统杂项（建议顺手忽略）
.DS_Store
*.log
*.local
"docs/.vitepress/sidebar.generated.ts" 
